{% extends 'index.html' %}

{% block title %} Base View {% endblock %}

{% block content %}

    <form method="POST" action="/base">
        <div>{{ form.base_field.label }}: {{ form.base_field }} {{ form.submit }}</div>
    </form>
    {% if commods %}
        <h2>Produced</h2>
        <ul>
            {% for c_key, c_items in commods.items() %}
                {% if not c_items['consumer'] %}
                    <li>{{ c_items['display_name'] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <h2>Consumed</h2>
        <ul>
            {% for c_key, c_items in commods.items() %}
                {% if c_items['consumer'] %}
                    <li>{{ c_items['display_name'] }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}